@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
.imgAndTitle {
  cursor:pointer;
}
.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.product-image img {
  width: 320px;
  height: 420px;
}
.product-details {
  display: flex;
  flex-direction: column;
}

.product-name p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin: 10px;
}

.product-price p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin: 10px;
  margin-top: 0px;
}

.button-div button {
  background-color: transparent;
  border: 0;
}

@media (max-width: 1200px) {
  .product-card {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .product-image img {
    width: 300px;
  }
  .product-name p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 0px;
    color: #000000;
    margin: 10;
  }
  .product-price {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 0px;
    color: #000000;
    margin: 10;
  }
}

@media (max-width: 900px) {
  .product-card {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .product-image img {
    width: 280px;
  }
  .product-name p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 0px;
    color: #000000;
  }
  .product-price {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 0px;
    color: #000000;
  }
}

@media (max-width: 600px) {
  .product-card {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .product-image img {
    width: 210px;
  }
  .product-name p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 0px;
    color: #000000;
  }
  .product-price {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 0px;
    color: #000000;
  }
}

@media (max-width: 450px) {
  .product-card {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .product-image img {
    width: 240px;
  }
  .product-name p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 0px;
    color: #000000;
  }
  .product-price {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 0px;
    color: #000000;
  }
  .product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}
